#menu-top-navigation {
  margin-top: 20px;

  .current_page_item {
    a {
      text-decoration: none;
      color: $brand-secondary;
    }
  }
  li {
  float: left;
  margin-right: 20px;

    a {
        @include roboto-slab;
        color: $white;
        font-size: 1.2em;
        text-shadow: 2px 2px $black;

        &:hover {
          text-decoration: none;
          color: $brand-secondary;
        }
    }

}
}

.header-wrapper {
  background-color: $black;
}

.brand {
  text-align: center;
  display: block;
}

.stagi-before-content {
  img {
    width: 100%;
    height: auto;
  }
}

.shiftnav-target {
  @include roboto-slab;
}

li {
  .menu-item {
    .current-menu-item {

      .shiftnav-target {
        background: $brand-primary;
      }
    }

  }
}

.searchbox {
  width: 155px;
}
