.header-wrapper {
  // background-color: $black;
}

.page-template-page-interviews,
.reviews,
.news,
.single-post,
.search-results,
.archives,
.page-id-32 {

.header-wrapper {
    background-color: $brand-primary;
}
  .banner {
    height: 75px;
  }
  .wrap {
    margin-top: 35px;
  }
}

.home {
  .banner {
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin: 0 auto;
    width: 1600px;
    z-index: 1;

    @media #{$xsmall} {
    height: 210px;
  }

  }
}

.featured-home-copy {
  // margin-top: -400px;
  height: 200px;
  position: absolute;
  top: -375px;

  @media #{$xsmall} {
  top: -132px;
  }

  .featured-story {
    @include roboto-slab;
    border-bottom: 11px solid $brand-secondary;
    color: $white;
    font-size: 1.5em;
    line-height: 40px;
    text-transform: uppercase;
    width: 211px;
  }
}

.featured-subtitle {
  // width: 400px;
  width: 700px;
  padding-top: 250px;
  padding-left: 160px;

  @media #{$xsmall} {
    width: 150px;
    padding-top: 152px;
    padding-left: 32px;
  }

  a {
    @include roboto-slab;
    color: $white;
    font-size: 1.2em;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px $black;

    @media #{$xsmall} {
    font-size: .5em;
    line-height: 20px;
  }

    &:hover {
      color: $brand-secondary;
    }
  }
}

.home-articles {
  margin-top: 220px;
  padding-bottom: 40px;
}

.home-article-title {

  a {
    @include roboto-slab;
    color: $black;
    font-size: 1em;
    font-weight: bold;
  }
}

.home-article-category {
  margin-left: 20px;
  margin-top: -30px;
  position: relative;
  z-index: 100;

  p::first-letter {
    text-transform: uppercase;
  }



  p {
    @include roboto-slab;
    background-color: $brand-primary;
    color: $white;
    font-size: 1em;
    padding: 10px;
    text-align: center;
    width: 150px;

  }
}

.latest-articles {
  @include roboto-slab;
  color: $black;
  font-size: 2.5em;
  padding-bottom: 10px;
}

.home {
  .header-wrapper {
    background-color: transparent;
  }
}

.carousel {
  margin-top: -136px;
  z-index: -1;
}

.carousel-item {
  background-size: cover;
  height: 600px;

  @media #{$xsmall} {
    height: 281px;
  }
}

.carousel-control-next {
  position: absolute;
  top: 450px;
  left: 160px;
  z-index: 1000000;
  color: white;
  font-size: 60px;
}

.carousel-control-previous {
  position: absolute;
  top: 300px;
  left: 100px;
  z-index: 1000000;
  color: white;
  font-size: 60px;
}

.previous {
  @include roboto-slab;
  color: $white;
  font-size: 24px;
}

.latest {
  @media #{$xsmall} {
  margin-top: 330px;
  }
}
