// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #640005;
$brand-secondary:       #d38524;
$white:                 #fff;
$black:                 #000;
